/* General */
* {
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; 
  margin: 0;
  display: flex;
  flex-direction: column;
  hanging-punctuation: first last;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* imágenes/videos responsive */
img,
picture,
svg,
video {
  max-width: 60%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h2{
  color: #000000;
}

p {
  text-wrap: pretty;
  margin-bottom: 40px;
}

/* NAV */

.navbar {
  background-color: #ffffff;
  padding: 0px 20px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 200px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #16492b;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #2e8b57;
}

:root {
  --clr-primary: #121212;
  --clr-secondary: #f2f2f2;
  --clr-accent: #57b59e;
}

html {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* TÍTULO */

.home text h1 {
  font-size: 2rem;
  color: #2a2a2a;
  padding: 30px;
  display: block;
  margin-bottom: 20px;
}

.home-text p {
  display: block;
  font-size: 16px;
  color: #117a59;
  font-weight: bold;
}

.home-text {
  text-align: center;
}

/* Dashboard */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* ResumenGeneral */
.resumen-general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
}

.resumen-general-container h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* MetasPresupuestos */
/* Contenedor principal */
.metas-presupuestos-container {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Lista de metas */
.metas-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 700px; /* Ancho máximo mayor */
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 450px; /* Mayor altura para que quepan más elementos */
  overflow-y: auto;
}

.meta-item {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Asegura que el texto y botones estén separados */
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  gap: 15px; /* Espaciado entre el texto y los botones */
}

.meta-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.meta-item span {
  flex: 1; /* Texto ocupa espacio disponible */
  margin-right: 15px;
  font-size: 16px;
  word-wrap: break-word; /* Rompe el texto largo */
}

/* Contenedor para los botones */
.meta-item .buttons-container {
  display: flex;
  gap: 10px; /* Espaciado entre botones */
}

/* Botones de acción */
.meta-item button {
  margin-top: 0; /* Elimina el margen superior adicional */
  margin-left: 0; /* Alineación ajustada */
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Botón de completar/desmarcar */
.meta-item button.meta-btn {
  background-color: #50c878;
  color: white;
  border: none;
  font-weight: 600;
}

.meta-item button.meta-btn:hover {
  background-color: #45a049;
}

/* Botón de editar */
.meta-item button.meta-edit-btn {
  background-color: #ffa500;
  color: white;
  border: none;
  font-weight: 600;
}

.meta-item button.meta-edit-btn:hover {
  background-color: #e69500;
}

/* Botón de eliminar */
.meta-item button.meta-delete-btn {
  background-color: #ff6347;
  color: white;
  border: none;
  font-weight: 600;
}

.meta-item button.meta-delete-btn:hover {
  background-color: #e5533e;
}


/* Botón principal para agregar metas */
.btn-primary {
  background-color: var(--clr-accent)!important;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #45a049;
}

/* Formulario de edición */
.edit-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.edit-form input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
}

.edit-form button {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}


/* AlertasRecomendaciones */

.alertas-container {
  padding: 20px;
  background-color: #f9f9f9;  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 30px;
}

.alertas-container h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.alertas-container ul {
  list-style-type: none;
  padding: 0;
}

.alerta-item {
  background-color: #fff;   
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 5px solid #4CAF50;  
  color: #333;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.alerta-item.warning {
  border-left: 5px solid #f44336;  
  background-color: #ffe6e6;  
  color: #d32f2f;
  font-weight: 500;
}

.alerta-item.suggestion {
  border-left: 5px solid #4CAF50;  
  background-color: #e8f5e9;  
  color: #388e3c;
  font-weight: 500;
}


/* FORMS */

.form-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.register-form input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.register-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-container,
.register-container {
  max-width: 500px;
  margin: 6rem auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.33);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-container textarea {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.form-btn {
  padding: 10px 40px;
  background-color: var(--clr-accent);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.form-btn:hover {
  background-color: #7cad90;
}

.error-message {
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--clr-accent);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #bfbfbf;
}

/* Social login section */
.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.social-p {
  margin-top: 1rem;
}

.social-btn {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.facebook-btn {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #3b5998;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.google-btn {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #db4437;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.apple-btn {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #000000;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


/* Updated CARDS */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  background-color: #ffffff;
  height: 100vh;
}


.home-options {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

.option-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.option-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.option-card h3 {
  margin-bottom: 15px;
}

.option-card p {
  margin-bottom: 20px;
  color: #333;
}

.btn-primary {
  background-color: #50c878;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #45a049;
}

/* Footer */
.footer {
  background-color: #57afb5;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icon {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #d1d1d1;
}

footer a:hover {
  text-decoration: underline;
}

/* METAS */

.nueva-meta-form {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.427);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 600px; 
}

.nueva-meta-form input {
  padding: 10px;
  flex: 1; /* Ocupa el espacio disponible */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.nueva-meta-form button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--clr-accent);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nueva-meta-form button:hover {
  background-color: #2e7b68;
}


/* TAREAS Y HÁBITOS NUEVO */

.tareas-habitos-container {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Lista de tareas */
.tareas-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 90%; 
  max-width: 600px; 
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 23rem;
  overflow-y:scroll;
  max-height: 400px; 
}

.tarea-item {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarea-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.tarea-item span {
  flex: 1;
}

/* Botones de acción */
.tarea-item button {
  margin-left: 10px;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Botón de completar/desmarcar */
.tarea-item button.tarea-btn {
  background-color: #50c878;
  color: white;
  border: none;
  font-weight: 600;
}

.tarea-item button.tarea-btn:hover {
  background-color: #45a049;
}

/* Botón de editar */
.tarea-item button.tarea-edit-btn {
  background-color: #ffa500;
  color: white;
  border: none;
  font-weight: 600;
}

.tarea-item button.tarea-edit-btn:hover {
  background-color: #e69500;
}

/* Botón de eliminar */
.tarea-item button.tarea-delete-btn {
  background-color: #ff6347;
  color: white;
  border: none;
  font-weight: 600;
}

.tarea-item button.tarea-delete-btn:hover {
  background-color: #e5533e;
}

/* Formulario para nueva tarea */
.nueva-tarea-form {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.427);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 90%; 
  max-width: 600px; 
}

.nueva-tarea-form input {
  padding: 10px;
  flex: 1; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.nueva-tarea-form button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--clr-accent);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nueva-tarea-form button:hover {
  background-color: #2e7b68;
}

/* TRANSACCIONES */

.transacciones-container {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem auto;
}

/* Lista de transacciones */
.transacciones-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 700px; 
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 23rem;
  overflow-y: scroll;
}

.transaccion-item {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.transaccion-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.transaccion-item span {
  flex: 1; 
  margin-right: 15px;
  font-size: 16px;
  word-wrap: break-word; 
}


.transaccion-item .buttons-container {
  display: flex;
  gap: 10px; 
}


.transaccion-item button.transaccion-btn {
  background-color: #50c878; 
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.transaccion-item button.transaccion-btn:hover {
  background-color: #45a049;
}

/* Botón de editar */
.transaccion-item button.transaccion-edit-btn {
  background-color: #ffa500; 
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.transaccion-item button.transaccion-edit-btn:hover {
  background-color: #e69500;
}

/* Botón de eliminar */
.transaccion-item button.transaccion-delete-btn {
  background-color: #ff6347; 
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.transaccion-item button.transaccion-delete-btn:hover {
  background-color: #e5533e;
}

/* Formulario para nueva transacción */
.nueva-tarea-form {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.427);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 600px;
}

.nueva-tarea-form input {
  padding: 10px;
  flex: 1; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.nueva-tarea-form button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--clr-accent);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nueva-tarea-form button:hover {
  background-color: #2e7b68;
}

/* MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.close-modal-btn {
  background-color: #ff5e57;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #ff3b30;
}



/* Modo oscuro */

.dark {
  --clr-primary: #f2f2f2;
  --clr-secondary: #121212;
  --clr-accent: #50c878;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.dark .navbar {
  background-color: #4a4a4a;
}

.dark .home-container {
  background-color: var(--clr-secondary);
  color: #fff;
}

.dark h1 {
  color: #fff;
}

.dark h2{
  color: #fff;
}

.dark p {
  color: #50c878;
}

.dark .option-card {
  background-color: #000000;
}

.dark .nav-links a {
  color: var(--clr-primary);
}

.dark .form-container {
  background-color: #333;
  color: var(--clr-primary);
}

.dark .register-container {
  background-color: #333;
  color: var(--clr-primary);
}

.dark a {
  color: #ffffff;
}

.dark footer {
  background-color: #4a4a4a;
  color: #fff;
}

.theme-toggle-btn {
  padding: 8px 12px;
  background-color: var(--clr-accent);
  border: none;
  font-weight: 600;
  border-radius: 4px;
  color: var(--clr-secondary);
  cursor: pointer;
}

.theme-toggle-btn:hover {
  background-color: #9bb99c;
}

.dark .meta-item{
  background-color: #333;
  color: #50c878;
}

.dark .alertas-container {
  background-color: #333;  
  color: #fff;  
}

.dark .alerta-item {
  background-color: #444;  
  border-left: 5px solid #80e27e;  
}

.dark .alerta-item.warning {
  background-color: #c62828;  
  color: #fff;
  border-left: 5px solid #f44336;  
}

.dark .alerta-item.suggestion {
  background-color: #388e3c;  
  color: #fff;
  border-left: 5px solid #80e27e;  
}

/* Modo oscuro para Tareas y Hábitos */
.dark .tareas-habitos-container {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark .tareas-list {
  background-color: #333; 
  color: var(--clr-primary); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 90%; 
  max-width: 600px;  
  height: 23rem;
  overflow-y:scroll;
}

.dark .tarea-item {
  background-color: #444; 
  color: var(--clr-primary); 
  border: 1px solid #555; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.dark .tarea-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

.dark .tarea-item span {
  color: var(--clr-primary); 
}

.dark .tarea-item button {
  background-color: #555; 
  color: var(--clr-primary); 
  border: none;
  transition: background-color 0.3s;
}

.dark .tarea-item button:hover {
  background-color: #666; 
}

/* Botón de completar/desmarcar */
.dark .tarea-item button.tarea-btn {
  background-color: var(--clr-accent); 
  color: var(--clr-primary);
}

.dark .tarea-item button.tarea-btn:hover {
  background-color: #6ee48c; 
}

/* Botón de editar */
.dark .tarea-item button.tarea-edit-btn {
  background-color: #e69500; 
  color: var(--clr-primary);
}

.dark .tarea-item button.tarea-edit-btn:hover {
  background-color: #ffab40; 
}

/* Botón de eliminar */
.dark .tarea-item button.tarea-delete-btn {
  background-color: #c62828; 
  color: var(--clr-primary);
}

.dark .tarea-item button.tarea-delete-btn:hover {
  background-color: #f44336; 
}

/* Formulario para nueva tarea */

.dark .nueva-tarea-form {
  background-color: #333; 
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 90%;
  max-width: 600px;
}

.dark .nueva-tarea-form input {
  background-color: #ffffff; 
  color: black; 
  border: 1px solid #555; 
  padding: 10px;
  flex: 1;
  border-radius: 4px;
}

.dark .nueva-tarea-form input::placeholder {
  color: #000000; 
}

.dark .nueva-tarea-form button {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dark .nueva-tarea-form button:hover {
  background-color: #3f804f; 
}

.dark .metas-presupuestos-container {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.dark .metas-list {
  background-color: #333; 
  color: var(--clr-primary);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dark .meta-item {
  background-color: #444; 
  color: var(--clr-primary);
  border: 1px solid #555;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.dark .meta-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

.dark .meta-item button {
  background-color: #555; 
  color: var(--clr-primary);
}

.dark .meta-item button:hover {
  background-color: #666; 
}

.dark .meta-item button.meta-btn {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}

.dark .meta-item button.meta-btn:hover {
  background-color: #6ee48c; 
}

.dark .meta-item button.meta-edit-btn {
  background-color: #e69500; 
  color: var(--clr-primary);
}

.dark .meta-item button.meta-edit-btn:hover {
  background-color: #ffab40; 
}

.dark .meta-item button.meta-delete-btn {
  background-color: #c62828; 
  color: var(--clr-primary);
}

.dark .meta-item button.meta-delete-btn:hover {
  background-color: #f44336; 
}

.dark .nueva-meta-form {
  background-color: #333; 
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 600px;
}

.dark .nueva-meta-form input {
  background-color: #ffffff; 
  color: black; 
  border: 1px solid #555; 
  padding: 10px;
  flex: 1;
  border-radius: 4px;
}

.dark .nueva-meta-form input::placeholder {
  color: #000000; 
}

.dark .nueva-meta-form button {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dark .nueva-meta-form button:hover {
  background-color: #3e7e4e; 
}

/* Modo oscuro para Transacciones */
.dark .transacciones-container {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.dark .transacciones-list {
  background-color: #333; 
  color: var(--clr-primary); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dark .transaccion-item {
  background-color: #444; 
  color: var(--clr-primary);
  border: 1px solid #555;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.dark .transaccion-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

.dark .transaccion-item span {
  color: var(--clr-primary); 
}

/* Botones */
.dark .transaccion-item .buttons-container button {
  background-color: #555; 
  color: var(--clr-primary); 
  border: none;
  transition: background-color 0.3s;
}

.dark .transaccion-item .buttons-container button:hover {
  background-color: #666; 
}

.dark .transaccion-item button.transaccion-btn {
  background-color: var(--clr-accent); 
  color: var(--clr-primary);
}

.dark .transaccion-item button.transaccion-btn:hover {
  background-color: #6ee48c; 
}

.dark .transaccion-item button.transaccion-edit-btn {
  background-color: #ffa500; 
  color: var(--clr-primary);
}

.dark .transaccion-item button.transaccion-edit-btn:hover {
  background-color: #ffab40; 
}

.dark .transaccion-item button.transaccion-delete-btn {
  background-color: #c62828; 
  color: var(--clr-primary);
}

.dark .transaccion-item button.transaccion-delete-btn:hover {
  background-color: #f44336; 
}

/* Formulario para nueva transacción */
.dark .nueva-tarea-form {
  background-color: #333; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

.dark .nueva-tarea-form input {
  background-color: #ffffff; 
  color: #000000; 
  border: 1px solid #000000;
}

.dark .nueva-tarea-form input::placeholder {
  color: #040404; 
}

.dark .nueva-tarea-form button {
  background-color: var(--clr-accent); 
  color: var(--clr-primary);
  border: none;
}

.dark .nueva-tarea-form button:hover {
  background-color: #3e7e4e; 
}

.dark .modal {
  background-color: #333; 
  color: var(--clr-primary); 
}

.dark .modal h2 {
  color: var(--clr-accent); 
}

.dark .modal p {
  color: #fff; 
}
.dark .close-modal-btn {
  background-color: #50c878; 
}

.dark .close-modal-btn:hover {
  background-color: #388e3c; 
}

/* Responsivo */
@media (max-width: 768px) {
  .tareas-list {
    width: 95%; 
    max-height: 300px; 
  }

  .nueva-tarea-form {
    flex-direction: column;
    gap: 5px; 
  }

  .nueva-tarea-form button {
    width: 100%; 
  }
  .metas-list {
    width: 95%; /* Ajuste para pantallas pequeñas */
    max-height: 300px; /* Altura máxima ajustada */
  }

  .meta-item {
    flex-direction: column; /* Botones en columna */
    align-items: flex-start; /* Alinea texto y botones al inicio */
  }

  .meta-item button {
    width: 100%; /* Botones ocupan todo el ancho */
  }

  .btn-primary {
    width: 100%;
  }

}