/* General */
* {
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; 
  margin: 0;
  display: flex;
  flex-direction: column;
  hanging-punctuation: first last;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* imágenes/videos responsive */
img,
picture,
svg,
video {
  max-width: 60%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h2{
  color: #000000;
}

p {
  text-wrap: pretty;
  margin-bottom: 40px;
}

/* NAV */

.navbar {
  background-color: #ffffff;
  padding: 0px 20px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 200px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #16492b;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #2e8b57;
}

:root {
  --clr-primary: #121212;
  --clr-secondary: #f2f2f2;
  --clr-accent: #57b59e;
}

html {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* TÍTULO */

.home text h1 {
  font-size: 2rem;
  color: #2a2a2a;
  padding: 30px;
  display: block;
  margin-bottom: 20px;
}

.home-text p {
  display: block;
  font-size: 16px;
  color: #117a59;
  font-weight: bold;
}

.home-text {
  text-align: center;
}

/* Dashboard */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* ResumenGeneral */
.resumen-general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
}

.resumen-general-container h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* MetasPresupuestos */
.metas-presupuestos-container {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

/* Lista de metas */
.metas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.meta-item {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.meta-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.meta-item span {
  flex: 1;
}

/* Estilo para los botones de "Completar", "Editar" y "Eliminar" */
.meta-item button {
  margin-left: 10px;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Botón "Completar" y "Reactivar" */
.meta-item button.meta-btn {
  background-color: #50c878;
  color: white;
  border: none;
  font-weight: 600;
}

.meta-item button.meta-btn:hover {
  background-color: #45a049;
}

/* Botón "Editar" (naranja) */
.meta-item button.meta-edit-btn {
  background-color: #ffa500;  /* Naranja */
  color: white;
  border: none;
  font-weight: 600;
}

.meta-item button.meta-edit-btn:hover {
  background-color: #e69500;  /* Naranja más oscuro */
}

/* Botón "Eliminar" (rojo) */
.meta-item button.meta-delete-btn {
  background-color: #ff6347;  /* Rojo tomate */
  color: white;
  border: none;
  font-weight: 600;
}

.meta-item button.meta-delete-btn:hover {
  background-color: #e5533e;  /* Rojo tomate más oscuro */
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form input {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.edit-form button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  border: 1px solid #ccc; 
  background-color: #50c878; 
  color: white; 
  font-weight: bold;
}


.edit-form button:nth-of-type(1) {
  background-color: #50c878;
}

.edit-form button:nth-of-type(1):hover {
  background-color: #45a049;
}


.edit-form button:nth-of-type(2) {
  background-color: #ff6347; 
}

.edit-form button:nth-of-type(2):hover {
  background-color: #e5533e;
}


.edit-form button:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  width: 100%;
  max-width: 300px; 
  margin: 20px auto; 
}

/* Botón principal de agregar meta */
.btn-primary {
  background-color: #50c878;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #45a049;
}

/* AlertasRecomendaciones */

.alertas-container {
  padding: 20px;
  background-color: #f9f9f9;  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 30px;
}

.alertas-container h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.alertas-container ul {
  list-style-type: none;
  padding: 0;
}

.alerta-item {
  background-color: #fff;   
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 5px solid #4CAF50;  
  color: #333;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.alerta-item.warning {
  border-left: 5px solid #f44336;  
  background-color: #ffe6e6;  
  color: #d32f2f;
  font-weight: 500;
}

.alerta-item.suggestion {
  border-left: 5px solid #4CAF50;  
  background-color: #e8f5e9;  
  color: #388e3c;
  font-weight: 500;
}


/* FORMS */

.form-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.register-form input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.register-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-container,
.register-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.33);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-container textarea {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form-btn {
  padding: 10px 40px;
  background-color: --clr-accent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.form-btn:hover {
  background-color: #7cad90;
}

.error-message {
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #50c878;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #bfbfbf;
}

/* Social login section */
.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.social-p {
  margin-top: 1rem;
}

.social-btn {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.facebook-btn {
  padding: 0.75rem;
  background-color: #3b5998;
  color: white;
  font-weight: bold;
}

.google-btn {
  padding: 0.75rem;
  background-color: #db4437;
  color: white;
  font-weight: bold;
}

.apple-btn {
  padding: 0.75rem;
  background-color: #000000;
  color: white;
  font-weight: bold;
}


/* Updated CARDS */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  background-color: #ffffff;
  height: 100vh;
}


.home-options {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

.option-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.option-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.option-card h3 {
  margin-bottom: 15px;
}

.option-card p {
  margin-bottom: 20px;
  color: #333;
}

.btn-primary {
  background-color: #50c878;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #45a049;
}

/* Footer */
.footer {
  background-color: #57afb5;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icon {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #d1d1d1;
}

footer a:hover {
  text-decoration: underline;
}

/* Modo oscuro */

.dark {
  --clr-primary: #f2f2f2;
  --clr-secondary: #121212;
  --clr-accent: #50c878;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.dark .navbar {
  background-color: #4a4a4a;
}

.dark .home-container {
  background-color: var(--clr-secondary);
  color: #fff;
}

.dark h1 {
  color: #fff;
}

.dark h2{
  color: #fff;
}

.dark p {
  color: #50c878;
}

.dark .option-card {
  background-color: #000000;
}

.dark .nav-links a {
  color: var(--clr-primary);
}

.dark .form-container {
  background-color: #333;
  color: var(--clr-primary);
}

.dark .register-container {
  background-color: #333;
  color: var(--clr-primary);
}

.dark a {
  color: #ffffff;
}

.dark footer {
  background-color: #4a4a4a;
  color: #fff;
}

.theme-toggle-btn {
  padding: 8px 12px;
  background-color: var(--clr-accent);
  border: none;
  font-weight: 600;
  border-radius: 4px;
  color: var(--clr-primary);
  cursor: pointer;
}

.theme-toggle-btn:hover {
  background-color: #9bb99c;
}
.dark .meta-item{
  background-color: #333;
  color: #50c878;
}

.dark .alertas-container {
  background-color: #333;  /* Fondo oscuro para el contenedor */
  color: #fff;  /* Texto blanco */
}

.dark .alerta-item {
  background-color: #444;  /* Fondo oscuro para las alertas */
  border-left: 5px solid #80e27e;  /* Borde verde claro para sugerencias */
}

.dark .alerta-item.warning {
  background-color: #c62828;  /* Fondo rojo para alertas en modo oscuro */
  color: #fff;
  border-left: 5px solid #f44336;  /* Borde rojo */
}

.dark .alerta-item.suggestion {
  background-color: #388e3c;  /* Fondo verde oscuro */
  color: #fff;
  border-left: 5px solid #80e27e;  /* Borde verde claro */
}